.title-scroll-container img {
  object-fit: cover;
  height: 100%;
  width: 5vw;
}
.title-scroll-container {
  height: 6vh;
  margin: 0.2rem;
  transition: all 300ms ease;
}
.title-scroll-container:hover {
  transform: scale(1.3);
}

.slick-slider {
  top: 3vh;
}
