.title-scroll-container img {
  object-fit: fill;
  height: 100%;
  width: 6vw;
}
.title-scroll-container {
  height: 8vh;
  margin: 0.2rem;
  transition: all 300ms ease;
}
.title-scroll-container:hover {
  transform: scale(1.3);
}

.slick-slider {
  top: 2.3vh;
}
