.title {
  top: 8vh;
  left: 18vh;
  position: absolute;
}
.title h4 {
  position: relative;
  top: 2vh;
}

.description {
  top: 40vh;
  left: 18vh;
  display: flex;
  /* Set flex-direction to column to stack child elements vertically */
  flex-direction: column;
  position: absolute;
}
.description-text {
  width: 30vw;
}
.movie-specs {
  color: white;
  font-family: "Roboto", sans-serif;
  opacity: 0.8;
  font-weight: 700;
  font-size: medium;
  opacity: 0.8;
  line-height: 1.5; /* Adjust line spacing */
  letter-spacing: 0.1rem;
}

p {
  color: rgba(255, 255, 255, 0.801);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  opacity: 1;
  line-height: 1.5; /* Adjust line spacing */
}
.subscribe-button {
  position: relative;
  top: 8vh;
}
.title-card {
  display: grid;
  height: 20vh;
  width: auto;
  align-items: center;
  justify-content: center;
}
.title-card img {
  height: auto;
  width: auto;
  object-fit: cover;
}

.description-text h4 {
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: medium;
  opacity: 0.8;
  line-height: 1.5rem; /* Adjust line spacing */
}
.subscribe-button {
  display: flex;
  width: 80vw;
  top: 1vh;
}
.subscribe-button > div {
  position: relative;
  margin-left: auto;
  align-self: center;
}
.subscribe-button .button-5 {
  background-color: rgba(255, 255, 255, 0.226);
  border-radius: 0.5rem;
  color: #ffffff;
  border: none;

  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  font-size: larger;
  padding: 2.2vh 1.4vw;
  margin: 1rem 1rem;
}

.subscribe-button .button-4 {
  background-color: rgba(255, 255, 255, 0.226);
  border: none;
  border-radius: 0.5rem;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  font-size: large;
  padding: 2vh 7vw;
  margin: 1rem 0 1rem 0;
}

.button-4:hover,
.button-5:hover {
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 0.477);
  transition-duration: 0.5s;
}
.dot {
  padding: 0.1rem;
  margin: 0.2rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}
.age-restriction {
  background-color: rgba(255, 255, 255, 0.226);
  border: none;
  border-radius: 0.3rem;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: medium;
  padding: 0.5vh 0.6vw;
}
