.title {
  top: 8vh;
  left: 18vh;
  position: absolute;
}
.title h4 {
  position: relative;
  top: 2vh;
}

.description {
  top: 40vh;
  left: 18vh;
  display: flex;
  /* Set flex-direction to column to stack child elements vertically */
  flex-direction: column;
  position: absolute;
}
.description-text {
  width: 30vw;
}
.movie-specs {
  word-wrap: break-word;
  color: rgba(216, 216, 216, 0.938);
  font-family: "Roboto", sans-serif;
  opacity: 0.8;
  font-weight: 700;
  color: rgba(216, 216, 216, 0.87);
  font-size: medium;
  opacity: 0.8;
}

p {
  word-wrap: break-word;
  color: rgba(255, 255, 255, 0.87);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  opacity: 0.8;
}
.subscribe-button {
  position: relative;
  top: 8vh;
}
.title-card {
  display: grid;
  height: 20vh;
  width: auto;
  align-items: center;
  justify-content: center;
}
.title-card img {
  height: auto;
  width: auto;
  object-fit: cover;
}

.description-text h4 {
  word-wrap: break-word;
  color: rgba(253, 253, 253, 0.904);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: medium;
  opacity: 0.8;
}

.subscribe-button .button-4 {
  background-color: rgba(255, 255, 255, 0.226);
  border-radius: 0.5rem;
  color: #ffffff;
  border: none;
  padding: 2.5vh 6vw;

  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;

  margin-right: 1rem;
}
.subscribe-button .button-5 {
  background-color: rgba(255, 255, 255, 0.226);
  border-radius: 0.5rem;
  color: #ffffff;
  border: none;
  padding: 2.5vh 6vw;

  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 800;
  padding: 2.5vh 1.5vw;
  /* Adjust padding to control button size */
  line-height: initial;
}

.button-4:hover,
.button-5:hover {
  transform: scale(1.05);
  transition-duration: 0.5s;
}
.dot {
  padding: 0.1rem;
  margin: 5px;
  background-color: rgba(216, 216, 216, 0.589);
  border-radius: 50%;
  display: inline-block;
  position: relative;
}
