.movie-cards {
  display: grid;
  grid-template-rows: auto;
  position: relative;
  padding-bottom: 1rem;
  left: 3vw;
}

.slider-container {
  position: relative;
  max-width: 88vw;
  height: 35vh;
  margin: 0 auto;
}

.movie-poster {
  height: 35vh;
}

.movie-poster img {
  border-radius: 0.5rem;
  max-width: 100%; /* Ensure images scale down proportionally */
  max-height: 100%;
  object-fit: cover; /* Maintain aspect ratio and fit within the container */
}
.movie-cards h5 {
  color: rgb(219, 217, 217);
  font-size: large;
  font-weight: bolder;
  font-family: Arial, sans-serif;
  margin: 1rem;
}
.genre-text h5 {
  padding-left: 5rem;
}
