.movie-cards {
  display: grid;
  grid-template-rows: auto;
  padding-bottom: 1rem;
}

.slider-container {
  position: relative;
  max-width: 35vw;
  height: 37vh;
  left: 7vw;
}

.movie-poster img {
  border-radius: 0.5rem;
  width: 100%;

  height: 100%;
  max-height: 35vh;
  object-fit: contain;
}

.movie-cards h5 {
  color: rgb(219, 217, 217);
  font-size: large;
  font-weight: bolder;
  font-family: Arial, sans-serif;
  margin: 1rem;
}

.genre-text h5 {
  padding-left: 5rem;
}

.movie-poster {
  position: relative;
  height: min-content;
  transition: transform 0.5s ease-in-out;
  border-radius: 5rem;
}

.movie-poster:hover {
  transition-delay: 0.5s;
  transform: scale(1.6);
  z-index: 5;
}

.movie-poster:hover .hover-content {
  opacity: 1;
}

.slider-main {
  display: flex;
  position: relative;
  width: 90vw;

  gap: 0.5rem;
  flex-wrap: nowrap;
}

.expanded {
  opacity: 0;
}

.pagination-button1 {
  width: 12%;
  position: relative;
  z-index: 6;
  bottom: 31vh;
  opacity: 0;
}
.pagination-button2 {
  width: 12%;
  position: relative;
  left: 88vw;
  z-index: 6;
  bottom: 59vh;
  opacity: 0;
}
.pagination-button1:hover,
.pagination-button2:hover {
  opacity: 1;
}

.border-button {
  background: #00000011;
  padding: 4rem 0.5rem;
  border: none;
  font-size: large;
  font-weight: 1000;
  color: #ffffff;
  font-weight: 700;
}
.extended {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(3, 17, 31);
  border-radius: 0.5rem;
  transition: all 300ms ease-in;
}
.extended img {
  height: 30%;
  object-fit: cover;
  object-position: center;
}
.extended-buttons {
  display: flex;
  justify-content: space-between;
  margin: 0 0.3rem 0 0.3rem; /* Buttons distributed horizontally */
}
.extended-button1 {
  background-color: rgba(255, 255, 255, 0.904);
  border: none;
  border-radius: 0.2rem;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: x-small;
  padding: 0.4rem 1.2rem;
}
.extended-button2 {
  background-color: rgba(228, 228, 228, 0.219);
  border: none;
  border-radius: 0.2rem;
  color: #000000;
  font-family: "Roboto", sans-serif;
  padding: 0.7rem, 0.5rem;
}
.extended-description {
  color: #ffffff;
  text-align: center;
}
.extended:hover {
  opacity: 1;
  transition-delay: 0.5s;
}
.movie-grid {
  display: grid;
}
