.scroll-container {
  display: grid;
  grid-template-rows: auto;
  z-index: 0;
  grid-template-columns: auto; /* One column */
  grid-auto-rows: auto;
  width: 100%;
}

.video-player {
  z-index: -1;
  position: sticky;
  top: 0;
}
.video-player video {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-row {
  width: 100%;
  position: relative;
  background: linear-gradient(
    to top,

    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0.8) 70%,
    rgba(0, 0, 0, 0) 100%
  );
}
