.modal {
  width: clamp(70%, 768px, 90%);
  height: min(70%, 500px);
  text-align: center;
  margin: auto;
  padding: 0 2rem;
  display: flex;
  gap: 0.3rem;
  border-radius: 0.3rem;
  align-items: center;
  background: rgb(43, 43, 43);
}
