body {
  margin: 0; /* Set margin to 0 to remove it */
  padding: 0; /* Optionally, set padding to 0 as well */
  background-color: black;
  overflow-x: hidden;
}
@media (max-width: 768px) {
  body {
    font-size: small;
  }
}
@media (max-width: 576px) {
  body {
    font-size: small;
  }
}
